# Exemple de unit systemd minimal pour une application web simple
[Unit]
Description=Service web simple pour {{ inventory_hostname }}
After=network.target


[Service]
Type=simple
User=root
WorkingDirectory={{ web_root }}
ExecStart=/usr/bin/python3 -m http.server {{ http_listen_port }}
Restart=on-failure


[Install]
WantedBy=multi-user.target